.tribute-page {
  background-color: #FAF0E6;
  text-align: center;
}

.title-div {
  text-align: center;
}

.title {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.img-div {
  width: 80vw;
  background-color: white;
  margin: 0px auto;
}

.image {
  display: block;
  margin: 0px auto;
  padding-top: 20px;
  max-width: 90%;
}

.img-caption {
  text-align: center;
  margin-top: 0px;
  font-size: 15px;
  padding: 10px 10px;
}

.tribute-info {
  text-align: left;
  width: 85vw;
  margin: 0px auto;
}